{#
/**
 * @file
 * Sample page at /demo to demonstrate component styling. Add your component below!
 */
#}

<p>This page's content is coming from a twig file within our custom theme.
	<strong>This twig file's location is</strong>
	<code>port_theme/templates/components/demo_page.html.twig</code>.</p>

<p>This page and twig file were created so that we have a convenient way to preview Twig styling.</p>

<p>To preview styling for a component, update the embed code within this file (demo_page.html.twig) to point to the appropriate demo.html.twig file.
							  Your component will appear below this line.</p>
{# Update the component name in the "include" statement below to preview your component's styling on the /demo page #}

